{% extends 'game/base.html' %}

{% block content %}
    <div class="game">
        {% if game.published_date %}
            <div class="date">
                {{ game.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'game_edit' pk=game.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ game.title }}</h1>
        <p>{{ game.text|linebreaksbr }}</p>
        
    </div>    
{% endblock content %}

